<?php //Carga de las partes que se usan de la base ?>

{% extends '../base.html' %}

{% load staticfiles %}

{% block main_block %}

<?php //div del contenido del checkout ?>
<div class = 'contenido2'>
	<h1>UPS! ESTO ES EMBARAZOSO... PERO NO PUEDES HACER ESO</h1>
	<a class="home" href="{% url 'product_list'%}">Seguir Comprando</a>
</div>


{% endblock %}