<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Rango</title>
	</head>

	<body>
		<h1>El perfume dice...</h1>
		<div>
			Quiere kalab kalas? <br/>
			<strong>{{ boldmessage }}</strong> <br/>
		</div>
		<div>
			<a href="/shop/about/">About</a>
			<img src="{% static "images/hugoboss.jpg" %}"
				 alt="Picture of Rango" />
		</div>
	</body>
</html>
