{% extends '../base.html' %}

{% load staticfiles %}

{% block main_block %}

<?php //menu lateral imprime todas las categorias de la tienda ?>

  <div class="col-2 lateral">
    <ul>
      {% for c in categories %}
        <li><a href = "{% url 'product_list_by_category' c.catSlug %}">
          {{ c.catName }}
        </a></li><br>
      {% endfor %}
    </ul>
  </div>

<?php //Zona de contenido,  con un bucle se imprime todos los productos de la tienda junto con su nombre, a no ser que se filtre por categoria
      // entonces aparecen todos los productos de la categoria, esto lo logramos con un condicional?>
      
  <div class= "col-10 contenidoproductos">
    {% if category == None%}
    
      {% for p in products %}
        <div class="item">  
          <a href="{% url 'product_detail' p.id p.prodSlug %}"><img class="{{p.prodName}}" src="{{p.image}}"></a><br>
          <a href="{% url 'product_detail' p.id p.prodSlug %}"><b>{{ p.prodName }}</b></a><br>
          {{ p.price}}€
        </div>
      {% endfor %}
    {% else %}
      {% for p in products %}
        <div class="item">
          <a href="{% url 'product_detail' p.id p.prodSlug %}"><img class="{{p.prodName}}" src="../../{{p.image}}" style="width:100%"></a><br>
          <a href="{% url 'product_detail' p.id p.prodSlug %}"><b>{{ p.prodName }}</b></a><br>
          {{ p.price}}€
        </div>
      {% endfor %}
{% endif %}
  </div>

{% endblock %}

<!-- {% url 'product_detail' p.prodId p.prodSlug %} {% url 'product_list' c.catSlug %}-->
