{% extends '../base.html' %}

{% load staticfiles %}

{% block main_block %}

<?php //Zona de contenido de la tienda, aqui va todo lo referente al detalle del producto ?>

  <div class= "contenido">
  	<?php //Cabecera, categoria a la que pertenece el producto ?>
  	<div class="detailcabecera">
    	<h class="detailtitle">{{ product.category.catSlug }}</h>
    </div>

    <?php //Detalle del producto, nombre, precio, descripcion, slug y un formulario con la cantidad de unidades que se quiere comprar y el boton de compra ?>
    <div class="detail" id="content">
	    <img src="../../{{product.image}}" class="{{product.prodName }}">
	    <p class="pdetail">Nombre: {{ product.prodName }}</p>
	    <p class="pdetail">Precio: {{ product.price }}€</p>
	    <p class="pdetail">Descripcion: {{ product.description}}</p>
	    <p class="pdetail">slug: {{ product.prodSlug}}</p>
      <div id="{{ product.id }}">
  	    <form  action="{% url 'shoppingcart_add' product.id %}" method = "post" class="pdetail">
  	    	{{cart_product_form}}
  	    	{% csrf_token %}

  	    	<input type='submit' value='Add Cart' name= 'Add Cart' class="detailbutton">

  	    </form>
      </div>
    </div>
  </div>

{% endblock %}
