<!DOCTYPE html>

{% load staticfiles %}

<html>
	
	<?php //carga de la cabecera de las templates ?>

	<head lang="es">

			<!-- Declaramos a Django donde esta la hoja de estilo -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}">
		{% block extra_css %}
		{% endblock extra_css %}

		{% block title_block %}
			<title>Base</title>
		{% endblock %}

		<meta charset="UTF-8">
		<title>TITULO DE LA BASE</title>
	</head>

	<body>
			<?php //Menu superior contiene el titulo y boton para hacer login y registro (no son funcionales) ?>
			<div class="menu">
    			<div class ="nombre">
      				<a href="/"><h1>PERFUMES</h1></a>
    			</div>
						{% block header_block %}
          		
						{% endblock %}

      		</div>

      		<?php //Menu secundario, contiene el estado del carro ?>

			<div class="menu2">
				{% block shoppingcart_block %}
				<div>
					{% if shoppingcart|length > 0 %}
						<p>Your Cart: <a href="{% url 'shoppingcart_list' %}">{{shoppingcart|length}} Items, {{shoppingcart.get_total_price}}</a></p>
					{% elif shoppingcart|length == 0%}
						<p>The Cart is Empty</p>
					{% endif %}
				{% endblock %}
				</div>
			</div>

		<?php // Estructura de contenidos ?>
		<div class="estructura">
		{% block main_block %}
		{% endblock %}
		</div>
		<!-- Definimos el footer de las paginas de la aplicacion -->

	</body>
</html>
